@import url(animations.css);
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1E2026;
  --secondary: #34384a;
}

@theme inline {
  --color-primary: #1E2026;
  --color-secondary: #34384a;

  --tracking-widest: 8;
  --default-transition-duration: 300ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.glow {
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.75);
}

.sample-shadow {
  box-shadow: 0 0 35px 8px rgba(255, 255, 255, 0.25);
}

.bg-shadow {
  box-shadow: 0 0 192px 174px var(--color-secondary);
  animation: movingGlowCircles ease 15s infinite;
}

.bg-shadow:nth-child(1) {
  animation-delay: -750ms;
  animation-direction: alternate-reverse;
}

#about {
  background-image: linear-gradient(#000000, var(--primary));
}

#projects {
  background-image: linear-gradient(var(--color-primary) 0%, #0f1012 29%, #0f1012 71%, var(--color-primary) 100%);
}

.projectList {
  .projectOverlay {
    transform: translateY(100%);
    opacity: 0;
  }
}

.projectList:hover {
  .projectOverlay {
    transform: translateY(0);
    opacity: 100;
  }
}

.about-hover {
  background-image: linear-gradient(var(--color-secondary) 40%, #000000 100%);
  opacity: 0;
}

.about-hover:hover {
  opacity: 0.5;
}