@import url(animations.css);
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1E2026;
  --secondary: #34384a;
}

@theme inline {
  --color-primary: #1E2026;
  --color-secondary: #34384a;

  --tracking-widest: 8;
  --default-transition-duration: 300ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.glow {
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.75);
}

.sample-shadow {
  box-shadow: 0 0 35px 8px rgba(255, 255, 255, 0.25);
}

.bg-shadow {
  box-shadow: 0 0 192px 174px var(--color-secondary);
  animation: movingGlowCircles ease 15s infinite;
}

.bg-shadow:nth-child(1) {
  animation-delay: -750ms;
  animation-direction: alternate-reverse;
}