@import url(animations.css);
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1E2026;
  --secondary: #34384a;
}

@theme inline {
  --color-primary: #1E2026;
  --color-secondary: #34384a;

  --tracking-widest: 8;
  --default-transition-duration: 300ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

button:hover:not(:disabled) {
  transform: scale(1.05);
  border-color: var(--color-secondary);
  background-color: white;
  color: var(--color-secondary);
}

input {
  box-shadow: inset 0 0 9px 2px #1e202640;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.glow {
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.75);
}

.sample-shadow {
  box-shadow: 0 0 35px 8px rgba(255, 255, 255, 0.25);
}

.bg-shadow {
  box-shadow: 0 0 192px 174px var(--color-secondary);
  animation: movingGlowCircles ease 15s infinite;
}

.bg-shadow:nth-child(1) {
  animation-delay: -750ms;
  animation-direction: alternate-reverse;
}

/* #about {
  background-image: linear-gradient(#000000, var(--primary));
}

#projects {
  background-image: linear-gradient(var(--color-primary) 0%, #0f1012 29%, #0f1012 71%, var(--color-primary) 100%);
}

#connect {
  background-image: linear-gradient(var(--color-primary) 0%, #0f1012 75%, #000000 100%);
} */

a {
  span {
    opacity: 0;
  }
}

a:hover {
  span {
    opacity: 1;
  }
}

.projectList {
  .projectOverlay {
    transform: translateY(100%);
    opacity: 0;
  }
}

.projectList:hover {
  .projectOverlay {
    transform: translateY(0);
    opacity: 100;
  }
}

.router-link:hover {
  transition-delay: 0ms;
  color: var(--secondary);
}

.layer-gradient {
  background-image: linear-gradient(#00000080 0%, #00000000 5%, #00000000 50%, #000000a0 75%);
}

.about-hover:hover {
  box-shadow: #ffffffbe 0 0 2px 2px;
  border: white;
  border-width: 2px;
}