@import 'fonts.scss';

:root {
	background-color: black;

	font-family: 'jacques';
	color: white;
}

@keyframes gradientMove {
	0% {
		background-position: 0% 0%;
	}
	25% {
		background-position: 24% 92%;
	}
	50% {
		background-position: 85% 15%;
	}
	75% {
		background-position: 100% 73%;
	}
	100% {
		background-position: 0% 0%;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	// overflow-y: hidden;

	canvas {
		z-index: 1;
		max-width: 100%;
	}

	#gradient-layer {
		position: absolute;
		left: 0;
		top: 0;
		z-index: -2;

		content: "";
		height: 100vh;
		width: 100vw;

		opacity: 1;
		background-image: linear-gradient(192deg, #67637a, #16151d);
		background-size: 300vw 300vh;
		background-repeat: no-repeat;
		animation: gradientMove 4s linear infinite;
		transition: all ease 300ms;
	}
}

#app {
	width: 80vw;
}

header {
	width: 80vw;
	position: fixed;
	top: 20px;
	left: 10vw;
	z-index: 100;
	mix-blend-mode: difference;

	display: flex;
	justify-content: space-between;

	h1 {
		cursor: pointer;
		transition: all 300ms ease;
		mix-blend-mode: difference;

		a {
			text-decoration: none;
			color: white;
		}
	}

	h1:hover {
		transform: scale(1.1);
	}

	.contact-links {
		@media screen and (max-width: 1000px) {
			display: none;
		}
		display: flex;
		align-items: center;
		gap: 3rem;
		z-index: 100;

		a img {
			mix-blend-mode: difference;
			cursor: pointer;
			height: 48px;
			width: auto;
			transition: all 300ms ease;
		}

		a img:hover {
			transform: scale(1.1);
		}
	}
}

main {
	height: fit-content;

	.hero-section {
		height: 100vh;
		z-index: 100;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: all ease 300ms;

		h1 {
			text-align: center;
			font-size: 5rem;

			@media screen and (max-width: 1000px) {
				font-size: 4rem;
			}
		}

		p {
			text-align: center;
			font-size: 2rem;
			font-family: 'inkfree';
			font-style: italic;
			opacity: 0.75;
		}
		
		button {
			cursor: pointer;
			position: absolute;
			bottom: 3rem;
			padding: 1rem 1.5rem;
			border-radius: 1rem	;
			box-shadow: #333 6px 6px;
			transition: all ease 300ms;
			transition: display linear 500ms;
			z-index: 100;

			@media screen and (max-width: 1000px) {
				display: none;
			}
		}
		
		button:hover {
			transform: scale(1.1);
			border: none;
			background-color: #687188;
			color: #ffffff;
			box-shadow: #ffffff50 0 0 50px 5px;
		}

		#reset-button {
			position: absolute;
			opacity: 0;
			bottom: -3rem;
		}
	}

	.info-section {
		position: absolute;
		opacity: 0;
		top: 0;
		left: 10vw;
		width: 80vw;
		height: 45vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h1 {
			font-family: 'inkfree';
			font-style: italic;
			font-weight: 400;
		}

		#about-me {
			top: -10vh;
		}

		#about-me {
			position: absolute;
			background-color: white;
			cursor: pointer;
			padding: 1rem 1.5rem;
			border-radius: 1rem	;
			box-shadow: #333 6px 6px;
			transition: all ease 300ms;
			transition: display linear 500ms;
			z-index: 100;
		}

		.resume {
			position: absolute;
			width: 100%;
			height: 100vh;
			padding-top: 10rem;
			box-sizing: border-box;
			
			top: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
		}

		#about-me:hover {
			transform: scale(1.1);
			border: none;
			background-color: #687188;
			color: #ffffff;
			box-shadow: #ffffff50 0 0 50px 5px;
		}
	}

	.about {
		position: absolute;
		left: 0;
		height: fit-content;
		width: 100vw;
		background-color: #d9d9d9;

		.top-section {
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 2rem;
			height: fit-content;

			#back {
				// position: absolute;
				background-color: white;
				cursor: pointer;
				padding: 1rem 1.5rem;
				border-radius: 1rem	;
				box-shadow: #333 6px 6px;
				transition: all ease 300ms;
				transition: display linear 500ms;
				z-index: 100;
				margin-top: 5rem;

				@media screen and (max-width: 1000px) {
					display: none;
				}
			}

			#back:hover {
				transform: scale(1.1);
				border: none;
				background-color: #80664b;
				color: #ffffff;
				box-shadow: #ffffff50 0 0 50px 5px;
			}

			.h1-wrap {
				width: max-content;
				height: 5rem;

				@media screen and (max-width: 500px) {
					display: none;
				}
			}

			.button-text {
				background-color: #ffffff;
				letter-spacing: 0.1rem;
				font-weight: 600;
				width: fit-content;

				cursor: pointer;
				border: solid black 2px;
				padding: 1rem 1.5rem;
				border-radius: 1rem;
				box-shadow: #333 6px 6px;
				transition: all ease 300ms;
				transition: display linear 500ms;
				z-index: 100;
				
				a {
					color: black;
					text-decoration: none;
					font-family: 'inkfree';
					// color: white;
				}
			}

			.button-text:hover {
				transform: scale(1.05);
				border: none;
				background-color: #687188;
				color: #ffffff;
				box-shadow: #ffffff50 0 0 50px 5px;

				a {
					color: #ffffff;
				}
			}

			.grid {
				display: grid;
				justify-items: center;
				width: 80%;
				grid-template-columns: 50% 50%;
				
				@media screen and (max-width: 1000px) {
					height: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
				}

				.me {
					display: flex;
					flex-direction: column;
					width: 90%;
					height: 50vh;
					align-items: center;
					justify-content: center;
					
					@media screen and (max-width: 1000px) {
						justify-content: flex-start;
						height: 20vh;
					}

					img {
						width: 75%;
						height: 65%;
					}

					h1 {
						font-family: 'inkfree';
						letter-spacing: normal;
						color: black;
						font-weight: 300;
						font-size: 9rem;

						@media screen and (max-width: 1000px) {
							font-size: 4rem;
							text-align: center;
						}
					}
				}

				.p-wrap {
					width: 90%;
					height: 50vh;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;

					@media screen and (max-width: 500px) {
						padding: 8rem 0;
					}

					.line {
						border-radius: 8px;
						width: 100%;
						height: 4px;
						background-color: #16151d;
					}

					p {
						font-family: 'josefin';
						font-size: 1.5rem;
						line-height: 2rem;
						color: black;
						text-align: justify;
						
						@media screen and (max-width: 1900px) {
							height: fit-content
						}

						@media screen and (max-width: 1100px) {
							line-height: 1.5rem;
						}
						
						@media screen and (max-width: 1000px) {
							font-size: 1.15rem;
							height: fit-content;
						}

						@media screen and (max-width: 500px) {
							font-size: 1rem;
						}
					}

					ul p {
						font-family: 'josefin';
						font-style: italic;
					}
				}
			}

			#down {
				bottom: -10rem;

				width: 96px;
				height: auto;
				transition: transform ease 150ms;
			}

			#down:hover {
				cursor: pointer;
				transform: scale(1.1);
			}
		}

		.jobs {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;

			background-color: black;
			height: fit-content;
			width: 100%;
			padding-top: 12vh;
			gap: 4rem;

			#up {
				top: 10rem;

				background-color: white;
				border-radius: 3rem;

				width: 96px;
				height: auto;
				transition: transform ease 150ms;
			}

			#up:hover {
				cursor: pointer;
				transform: scale(1.1);
			}

			h1 {
				text-align: center;
				// padding: 1rem 2rem;
				// padding-left: 2.25rem;
				// background-color: white;
				// color: black;
				font-size: 4rem;
				font-family: 'inkfree';
				letter-spacing: normal;
				border-radius: 1.75rem;
			}

			.job-wrap {
				width: 80vw;
				height: 18rem;
				
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 5rem;

				@media screen and (max-width: 1000px) {
					flex-direction: column;
					height: fit-content;
					gap: 2rem;
				}

				.img-wrap, .job-info {
					width: 40%;
					height: 100%;

					@media screen and (max-width: 1000px) {
						width: 100%;
					}
				}

				.img-wrap {
					display: flex;
					justify-content: center;
					align-items: center;
					border: solid;

					img {
						width: 150px;
						height: auto;
					}
				}

				.line {
					height: 18rem;
					width: 4px;
					
					border-radius: 8px;
					background-color: #939393;

					@media screen and (max-width: 1000px) {
						width: 18rem;
						height: 4px;
						display: none;
					}
				}

				.job-info {
					display: flex;
					flex-direction: column;
					justify-content: center;
					gap: 1rem;

					h2 {
						font-family: 'josefin';
						font-size: 3rem;
						margin: 0;
					}
					
					h3 {
						font-family: 'josefin';
						font-weight: 200;
						font-style: italic;
						font-size: 2rem;
						margin: 0;
					}
					
					p {
						font-family: 'josefin';
						font-weight: 200;
						font-size: 1.5rem;
						text-align: justify;
					}
				}
			}

			.all-skills {
				display: grid;
				justify-content: center;
				align-items: center;
				grid-template-columns: 30% 4px 30% 4px 30%;
				width: 80vw;
				gap: 2rem;
				row-gap: 4rem;

				@media screen and (max-width: 1000px) {
					display: flex;
					flex-direction: column;
				}

				.line {
					background-color: #939393;
					border-radius: 8px;
					height: 90%;
					width: 4px;

					@media screen and (max-width: 1000px) {
						display: none;
					}
				}

				.skill-wrap {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 2rem;
					width: 100%;
					height: fit-content;
					padding: 2rem 0;

					h2 {
						margin: 0;
						font-family: 'josefin';
						font-size: 2rem;
						text-align: center;
					}

					.skill-info {
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						gap: 1rem;

						p {
							text-align: center;
							font-family: 'josefin';
							font-weight: 300;
							font-size: 2rem;
							transition: all ease 80ms;
						}

						p:hover {
							transform: scale(1.05);
						}
					}
				}
			}
		}
	}
}

